
  <section class="bgBlack">
    <div class="container">
      <div class="row paddTop">
        <div class="col s6 m6 l6 left-align">
          <img src="https://resource.csnstatic.com/retail/globals/logo/v5/chileautos-white.svg" height="50">
        </div>
        <div class="col s6 m6 l6 bgBlack right-align ">
          <a class="waves-effect waves-light btn orange" href="{% url 'agregarPublicacion'%}" style="border-radius: 25px;margin-right: 120px;">¡Vende tu auto!</a>
          <br>
          <a class="waves-effect waves-light center-align paddMisPublicaciones " href="{% url 'misPublicaciones'%}" >Mis Publicaciones</a> misPublicaciones
        </div>
      </div>

      <article class="row">
        <div class="col s12 m12 l12 center-align">
          <h1 class="whiteFont sizeFontProxAuto">Encuentra tu próximo auto</h1>
        </div>
      </article>

      <article style="padding-bottom: 75px;">
        <div class="row">
          <form class="col s12 foundCar" style="padding-top: 20px;">
            <div class="row paddFoundLeft">
              <div class="input-field col s12 m4 l4 borderMargeLeft">
                <select>
                  <option value="" disabled selected>Buscar Autos, camionetas y 4x4</option>
                  <option value="1">Acuáticos</option>
                  <option value="2">Aéreos</option>
                  <option value="3">Buscar Autos, camionetas y 4x4</option>
                  <option value="4">Buses</option>
                  <option value="5">Camiones</option>
                  <option value="6">Maquinarias</option>
                  <option value="7">Motohomes</option>
                  <option value="8">Motos</option>
                  <option value="9">Otros</option>
                </select>
              </div>
              <div class="input-field col s12 m2 l2" id="id-marca">
                <select id="selectMarcaBuscar">
                  <option value="" disabled selected> Marca</option>
                  <option value="Alfa Romeo">Alfa Romeo</option>
                  <option value="Aston Martin">Aston Martin</option>
                  <option value="Audi">Audi</option>
                  <option value="Baic">Baic</option>
                  <option value="BMW">BMW</option>
                  <option value="Brilliance">Brilliance</option>
                  <option value="Changan">Changan</option>
                  <option value="Chery">Chery</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Citroen">Citroen</option>
                  <option value="Citroën">Citroën</option>
                  <option value="Dfm">Dfm</option>
                  <option value="Dfsk">Dfsk</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Dongfeng">Dongfeng</option>
                  <option value="Ds">Ds</option>
                  <option value="Faw">Faw</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Fiat">Fiat</option>
                  <option value="Ford">Ford</option>
                  <option value="Foton">Foton</option>
                  <option value="Geely">Geely</option>
                  <option value="Great Wall">Great Wall</option>
                  <option value="Haval">Haval</option>
                  <option value="Honda">Honda</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="INFINITI">INFINITI</option>
                  <option value="Jac">Jac</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Jmc">Jmc</option>
                  <option value="Kia">Kia</option>
                  <option value="Lada">Lada</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lifan">Lifan</option>
                  <option value="Mahindra">Mahindra</option>
                  <option value="Maserati">Maserati</option>
                  <option value="Maxus">Maxus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="MG">MG</option>
                  <option value="MINI">MINI</option>
                  <option value="Mitsubishi">Mitsubishi</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Opel">Opel</option>
                  <option value="Peugeot">Peugeot</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Ram">Ram</option>
                  <option value="Renault">Renault</option>
                  <option value="Seat">Seat</option>
                  <option value="SKODA">SKODA</option>
                  <option value="SsangYong">SsangYong</option>
                  <option value="Subaru">Subaru</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                  <option value="Zxauto">Zxauto</option>
                </select>
              </div>
              <div class="input-field col s12 m2 l2">
                <input type="text" placeholder="Modelo" id="textt" class="validate">
              </div>
              <div class="input-field col s12 m2 l2">
                <input type="text" placeholder="Plabras Claves" id="textt" class="validate">
              </div>
              <div class="input-field col s12 m2 l2 btAzulBuscar">

                <span class="waves-effect waves-light btn center-align center "
                  style="width: 100%; height: 100%; background-color: #007CC2;" onclick="Buscar();">Buscar</span>


              </div>
          </form>
        </div>
      </article>
    </div>
  </section>
  