
<!--   NAV BAR -->

<div>
    <!-- Opciones -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Todos los autos </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Vendedor particular </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Automotoras </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Usados Certificados </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Compra desde casa </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Autofact </a> </li>
      <li class="divider"></li>
      <li><a href="#!">Tasación </a> </li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!">Catálogo 0km </a></li>
      <li class="divider"></li>
      <li><a href="#!">Marcas </a></li>
      <li class="divider"></li>
      <li><a href="#!">Carrocerias </a></li>
      <li class="divider"></li>
      <li><a href="#!">Impuesto Verde </a></li>
    </ul>

    <ul id="dropdown3" class="dropdown-content">
      <li><a href="#!">Crear anuncio </a></li>
      <li class="divider"></li>
      <li><a href="#!">Modifica tu aviso </a></li>
      <li class="divider"></li>
      <li><a href="#!">Guía de precios </a></li>
      <li class="divider"></li>
      <li><a href="#!">Imprima su aviso </a></li>
      <li class="divider"></li>
      <li><a href="#!">Publica como automotora </a></li>
    </ul>

    <ul id="dropdown4" class="dropdown-content">
      <li><a href="#!">Noticias </a></li>
      <li class="divider"></li>
      <li><a href="#!">Actualidad </a></li>
      <li class="divider"></li>
      <li><a href="#!">Comparativas </a></li>
      <li class="divider"></li>
      <li><a href="#!">Compra de auto </a></li>
      <li class="divider"></li>
      <li><a href="#!">Consejos </a></li>
      <li class="divider"></li>
      <li><a href="#!">Tendencias </a></li>
      <li class="divider"></li>
      <li><a href="#!">Test Drives </a></li>
    </ul>

    <ul id="dropdown5" class="dropdown-content">
      <li><a href="#!">Particular </a></li>
      <li class="divider"></li>
      <li><a href="#!">Automotora </a></li>

    </ul>

    <ul id="dropdown6" class="dropdown-content">
      <li><a href="#!">Quienes somos </a></li>
      <li class="divider"></li>
      <li><a href="#!">Ayuda</a></li>
    </ul>

    <!--Fin Opciones-->

    <!-- Navbar  -->
    <div class=" fondoNavBar">
      <nav class=" container fondoNavBar padNavBar">
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="#!" data-target="mobile-demo" class="sidenav-trigger brand-logo"><img class="tamLogo"
              src="img/Logo.JPG" alt=""></a>
          <!-- Navbar left -->

          <ul class="left hide-on-med-and-down">
            <li><a href="sass.html"> </a> <i class="material-icons">home</i></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Autos Usados<i
                  class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Autos Nuevos<i
                  class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Vende tu auto<i
                  class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4">Noticias & Eventos<i
                  class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown5">Pagos en línea<i
                  class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a href="#!">Crédito</a></li>
            <li><a href="#!">Seguro</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown6">Información<i
                  class="material-icons right">arrow_drop_down</i></a>
            </li>
          </ul>
          <!-- Fin  left -->
          {% if user.is_authenticated %}
          <ul class="right hide-on-med-and-down">
            <li><a >Bienvenido {{ user.username }}</a></li>
            <li><a href="{% url 'salir' %}">Salir</a></li>
          </ul>


          {% else %}

          <!-- NavBar  right -->
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'iniciar'%}">Ingresar</a></li>
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
          </ul>
          <!-- Fin  Rigth -->

          {% endif %}


        </div>
      </nav>
    </div>
    <!-- Fin  Navbar -->


    <!-- NavBar Mobile  -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <!-- Fin NavBar Mobile  -->

  </div>

  <!-- fin div de navbar-->


  {% if messages %}
  {% for message in messages %}
  <div class="row center-align -{{message.tags}}" role="alert"><br>
    {{ message }}
  </div>
  
  {% endfor %}
  {% endif %}